---
import Layout from "./layout/Layout.astro";
import "./assets/iconfont.css";
import "./styles/index.css";
// import  {Skill}  from "./components/Skill";
import config from "./meta.config";

const { skills, name } = config;
---

<Layout title='个人简历'>
  <div class='mt-6 max-w-screen-lg md:flex mx-auto'>
    <div class='md:w-1/3 p-2 relative'>
      <div class='md:fixed'>
        <div class='md:block'>
          <div class='flex justify-center'>
            <img
              class='h-32 w-32 rounded-full mx-auto mx-4'
              src='./favicon.png'
            />
          </div>
          <div class='mb-12 text-center mt-4 justify-center items-center'>
            <h1 class='text-2xl text-xl text-gray-800 font-bold'>{name}</h1>
            <div class='md:text-lg text-gray-600'>前端工程师</div>
            <div class='md:text-lg text-gray-600'>1年工作经验</div>
            <div class='text-gray-600 md:hidden mt-1'>(wx: yang2416548256)</div>
          </div>
        </div>
        <div class='mx-4 my-4 hidden md:block'>
          <div class='my-5 text-lg text-gray-600 flex'>
            <div class='mr-2'>
              <span class='iconfont icon-wechat text-8xl text-green-600'></span>
            </div>
            yang2416548256
          </div>
          <div class='my-5 text-lg text-gray-600 flex'>
            <div class='mr-2'>
              <span class='iconfont icon-Phoneshouji text-8xl'></span>
            </div>
            18476472710
          </div>
          <div class='my-5 text-lg text-gray-600 flex'>
            <div class='mr-2'>
              <span class='iconfont icon-email text-8xl'></span>
            </div>
            2416548256@qq.com
          </div>
          <div class='my-5 text-lg text-gray-600 flex'>
            <div class='mr-2'>
              <span class='iconfont icon-position text-8xl'></span>
            </div>
            Guangzhou
          </div>
          <a
            href='http://github.com/yang-xianzhu'
            class='my-5 flex'
            target='_blank'
          >
            <div class='mr-2'>
              <span class='iconfont icon-github text-8xl'></span>
            </div>
            <span class='text-blue-500'>GitHub</span>
          </a>
        </div>
      </div>
    </div>
    <div class='md:w-2/3 p-2 w-full'>
      <!-- 个人评价 -->
      <div class='mx-4 mb-6'>
        <h1 class='mb-4 text-2xl text-gray-700 font-bold yxz-bt1'>个人评价</h1>
        <p class='text-lg'>
          很帅！很帅！很帅！很帅！很帅！很帅！很帅！很帅！很帅！很帅！
          很帅！很帅！很帅！很帅！很帅！很帅！很帅！很帅！很帅！很帅！
          很帅！很帅！很帅！很帅！很帅！很帅！很帅！很帅！很帅！很帅！
        </p>
      </div>
      <div class='mx-4'>
        <!-- 工作经历 -->
        <h1 class='mb-4 text-2xl text-gray-700 font-bold yxz-bt1 mt-3'>
          工作经历
        </h1>
        <ul>
          <li class='mb-4'>
            <div class='flex justify-between items-center mt-3'>
              <small class='text-sm text-gray-600'> 2022年9月 - 至今</small>
              <h6 class='text-1xl font-medium text-gray-800'>珠海格力</h6>
              <p>前端开发</p>
            </div>
            <ol class='pt-6 px-4'>
              <li>负责公司后台管理，以及移动端的开发</li>
              <li>根据需求分析文档，配合产品经理和测试完成产品需求/进度</li>
              <li>
                协助组长二次封装组件供组员使用，提供开发效率的同时统一了项目风格
              </li>
              <li>重构了移动端几个模块的页面，统一页面风格</li>
            </ol>
          </li>
        </ul>
      </div>
      <div class='mx-4'>
        <!-- 项目经历 -->
        <h1 class='mb-4 text-2xl text-gray-700 font-bold mt-3 yxz-bt1'>
          项目经历
        </h1>
        <!-- 项目经历主体 -->
        <div>
          <h4 class='text-center'>高栏港后台管理系统</h4>
          <p class='font-bold my-1.5'>项目描述：</p>
          <p>
            该项目是基于<span class="yxz-strong">Vue3</span>+<span class="yxz-strong">TS</span>+<span class="yxz-strong">Vben</span>开发的后台管理系统，采用了微前端技术管理着各个模块的系统，用于帮助企业提升管理效率，还可以解决诸多管理问题。实现了各大模块的菜单管理、配置式新增路由、权限分配。
          </p>
          <p class='font-bold my-1.5'>主要职责：</p>
          <p>实现菜单配置式新增路由页面，并实现了区分缓存/非缓存的路由。</p>
          <p class='font-bold my-1.5'>技术要点：</p>
          <p>待...</p>
        </div>
      </div>
      <!-- 技能 -->
      <div class='mx-4'>
        <h1 class='mb-4 text-2xl text-gray-700 font-bold mt-3 yxz-bt1'>技能</h1>
        <ul>
          <li class='mb-6 flex flex-wrap'>
            {
              skills.map((v) => (
                <span class='mr-2 my-1 rounded-full border px-4 text-sm py-2 font-medium bg-gray-200'>
                  {v}
                </span>
              ))
            }
          </li>
        </ul>
      </div>
    </div>
  </div>
</Layout>
